<div layout="row" layout-fill layout-align="top center">
  <div layout="column" flex>
    <md-switch ng-model="cue1" ng-change="triggerCue(cue1, 1)" class="md-warn">Cue 1</md-switch>
    <md-switch ng-model="cue5" ng-change="triggerCue(cue5, 5)" class="md-warn">Cue 5</md-switch>
    <md-switch ng-model="cue9" ng-change="triggerCue(cue9, 9)" class="md-warn">Cue 9</md-switch>
  </div>
  
  <div layout="column" flex>
    <md-switch ng-model="cue2" ng-change="triggerCue(cue2, 2)" class="md-warn">Cue 2</md-switch>
    <md-switch ng-model="cue6" ng-change="triggerCue(cue6, 6)" class="md-warn">Cue 6</md-switch>
    <md-switch ng-model="cue10" ng-change="triggerCue(cue10, 10)" class="md-warn">Cue 10</md-switch>
  </div>
  
  <div layout="column" flex>
    <md-switch ng-model="cue3" ng-change="triggerCue(cue3, 3)" class="md-warn">Cue 3</md-switch>
    <md-switch ng-model="cue7" ng-change="triggerCue(cue7, 7)" class="md-warn">Cue 7</md-switch>
    <md-switch ng-model="cue11" ng-change="triggerCue(cue11, 11)" class="md-warn">Cue 11</md-switch>
  </div>
  
  <div layout="column" flex>
    <md-switch ng-model="cue4" ng-change="triggerCue(cue4, 4)" class="md-warn">Cue 4</md-switch>
    <md-switch ng-model="cue8" ng-change="triggerCue(cue8, 8)" class="md-warn">Cue 8</md-switch>
    <md-switch ng-model="cue12" ng-change="triggerCue(cue12, 12)" class="md-warn">Cue 12</md-switch>
  </div>
</div>