<div ng-controller="CuesCtrl as cuesCtrl" ng-cloak>
  <md-tabs class="cueTabs">
    <md-tab label="Manual">
      <div class="cues">
        <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-lg="4" md-cols-gt-lg="6"
          md-row-height-gt-md="1:1" md-row-height="1:1"
          md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
          <md-grid-tile
            ng-repeat="cue in cuesCtrl.cues">
            <md-switch ng-model="cue.name" ng-change="triggerCue(cue.name, cue.cue_num)" ng-disabled="!armed" class="md-warn"></md-switch>
            <md-grid-tile-footer><h3>{{ cue.title }}</h3></md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </md-tab>
    <md-tab label="Automatic">
      <div class="auto">
        <md-list-item class="md-2-line" ng-repeat="script in scriptList" ng-click="openScript(script.id)">
          <div class="md-list-item-text" layout="column">
            <h3>{{ script.name }}</h3>
            <p>{{ script.description }}</p>
          </div>
        </md-list-item>
      </div>
    </md-tab>
  </md-tabs>
</div>